## Ex No.2 Pandas and Matplotlib

## A Amar Rohith
##  EC21B1106

In [2]:
import numpy as np
import pandas as pd 
import random

 1. Series Creation and Access
 a) Create a Pandas Series using a list of the first 10 prime numbers.
 b) Create a Pandas Series using a NumPy array of 5 random numbers
 between 0 and 1.
 c) Create a Pandas Series using a dictionary where the keys are 'A', 'B', 'C',
 'D', 'E' and the values are random integers between 1 and 100.
 d) For the Series created in (c), access and print the value associated with
 key 'C'

In [4]:
p_number=pd.Series([2,3,5,7,11,13,17,19,23,29])
print(p_number)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

In [22]:
random_numbers=np.random.rand(5)
print(random_numbers)
series=pd.Series(random_numbers)
print(series)

[0.5705713  0.0327933  0.14608465 0.06856903 0.73307364]
0    0.570571
1    0.032793
2    0.146085
3    0.068569
4    0.733074
dtype: float64

In [32]:
dic={'A':np.random.randint(1,100,5),'B':np.random.randint(1,100,5),'C':np.random.randint(1,100,5),'D':np.random.randint(1,100,5),'E':np.random.randint(1,100,5)}
series=pd.Series(dic)
print(series)

A    [64, 37, 66, 97, 85]
B    [54, 66, 29, 35, 91]
C    [45, 91, 64, 27, 93]
D      [9, 21, 42, 16, 9]
E    [78, 75, 88, 11, 53]
dtype: object

In [26]:
val_C=series.get('C')
print(val_C)

64

# 2. DataFrame Creation

 a) Create a DataFrame using a dictionary where each key is a column name
 and each value is a list of 5 random integers between 1 and 100. Use the
 column names 'A', 'B', and 'C'.
 b) Create a DataFrame with 3 columns and 4 rows of random numbers
 between 0 and 1. Set the index to ['W', 'X', 'Y', 'Z'] and the column names to
 ['Col1', 'Col2', 'Col3'].

In [30]:
dic={'A':np.random.randint(1,100,5),'B':np.random.randint(1,100,5),'C':np.random.randint(1,100,5)}

df=pd.DataFrame(dic)

print(df)

    A   B   C
0  65  57  68
1  15  76  45
2  23  45  17
3  36  26  41
4  38  49  35

In [3]:
df2 = pd.DataFrame(np.random.rand(4, 3), index=['W', 'X', 'Y', 'Z'], columns=['Col1', 'Col2', 'Col3'])
print("\nDataFrame df2:\n", df2)

DataFrame df2:
        Col1      Col2      Col3
W  0.496724  0.283737  0.104759
X  0.836255  0.319336  0.579732
Y  0.983098  0.110247  0.746144
Z  0.297762  0.275100  0.620512

3. Loading and Writing Data
a) Load the 'heart_failure_prediction.csv' file into a DataFrame

In [5]:
df_heart = pd.read_csv('heart.csv')

b) Write the first 100 rows to a new CSV file

In [6]:
df_heart.head(100).to_csv('heart_failure_sample.csv', index=False)

 c) Write the entire DataFrame to an Excel file

In [7]:
df_heart.to_excel('heart_failure_data.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

d) Write the DataFrame to a JSON file

In [9]:
df_heart.to_json('heart_failure_data.json')

 4. DataFrame Information
 a) Display info of the DataFrame

In [10]:
print("\nDataFrame Info:\n")
df_heart.info()

DataFrame Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

b) Show the first 10 rows

In [11]:
print("\nFirst 10 rows of the DataFrame:\n", df_heart.head(10))

First 10 rows of the DataFrame:
    Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR  \
0   40   M           ATA        140          289          0     Normal    172
1   49   F           NAP        160          180          0     Normal    156
2   37   M           ATA        130          283          0         ST     98
3   48   F           ASY        138          214          0     Normal    108
4   54   M           NAP        150          195          0     Normal    122
5   39   M           NAP        120          339          0     Normal    170
6   45   F           ATA        130          237          0     Normal    170
7   54   M           ATA        110          208          0     Normal    142
8   37   M           ASY        140          207          0     Normal    130
9   48   F           ATA        120          284          0     Normal    120

  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0              N      0.0       Up             0
1              N      1.0     Flat             1
2              N      0.0       Up             0
3              Y      1.5     Flat             1
4              N      0.0       Up             0
5              N      0.0       Up             0
6              N      0.0       Up             0
7              N      0.0       Up             0
8              Y      1.5     Flat             1
9              N      0.0       Up             0

 c) Show the last 5 rows

In [12]:
print("\nLast 5 rows of the DataFrame:\n", df_heart.tail(5))

Last 5 rows of the DataFrame:
      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

5. Column Operations
 a) Extract and display 'Age' and 'Sex' columns b) Add a new column 'AgeGroup'

In [14]:
print("\n'Age' and 'Sex' columns:\n", df_heart[['Age', 'Sex']])
df_heart['AgeGroup'] = pd.cut(df_heart['Age'], bins=[0, 50, 70, np.inf], labels=['Young', 'Middle-aged', 'Senior'])
print("\nDataFrame with 'AgeGroup' column:\n", df_heart[['Age', 'AgeGroup']])

'Age' and 'Sex' columns:
      Age Sex
0     40   M
1     49   F
2     37   M
3     48   F
4     54   M
..   ...  ..
913   45   M
914   68   M
915   57   M
916   57   F
917   38   M

[918 rows x 2 columns]

DataFrame with 'AgeGroup' column:
      Age     AgeGroup
0     40        Young
1     49        Young
2     37        Young
3     48        Young
4     54  Middle-aged
..   ...          ...
913   45        Young
914   68  Middle-aged
915   57  Middle-aged
916   57  Middle-aged
917   38        Young

[918 rows x 2 columns]

 6. Accessing Data
a) Access the value in the 5th row and 3rd column using direct indexing
b) Use loc to select rows where 'Sex' is 'M' and display 'Age' and 'ChestPainType
c) Use iloc to select the first 5 rows and 2nd to 4th columns

In [15]:
value_direct = df_heart.iloc[4, 2]
print("\nValue at 5th row, 3rd column (direct indexing):", value_direct)
male_patients = df_heart.loc[df_heart['Sex'] == 'M', ['Age', 'ChestPainType']]
print("\nMale patients' 'Age' and 'ChestPainType':\n", male_patients)
iloc_selection = df_heart.iloc[:5, 1:4]
print("\nFirst 5 rows, columns 2-4 (iloc):\n", iloc_selection)

Value at 5th row, 3rd column (direct indexing): NAP

Male patients' 'Age' and 'ChestPainType':
      Age ChestPainType
0     40           ATA
2     37           ATA
4     54           NAP
5     39           NAP
7     54           ATA
..   ...           ...
911   59           ASY
913   45            TA
914   68           ASY
915   57           ASY
917   38           NAP

[725 rows x 2 columns]

First 5 rows, columns 2-4 (iloc):
   Sex ChestPainType  RestingBP
0   M           ATA        140
1   F           NAP        160
2   M           ATA        130
3   F           ASY        138
4   M           NAP        150

 7. Conditional Statements
a) Create a new DataFrame for patients over 60 with heart disease
b) Find the average age for each chest pain type

In [17]:
df_over60_heart_disease = df_heart[(df_heart['Age'] > 60) & (df_heart['HeartDisease'] == 1)]
print("\nPatients over 60 with heart disease:\n", df_over60_heart_disease)
avg_age_per_cp = df_heart.groupby('ChestPainType')['Age'].mean()
print("\nAverage age for each chest pain type:\n", avg_age_per_cp)

Patients over 60 with heart disease:
      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
36    65   M           ASY        140          306          1     Normal
82    63   M           ASY        150          223          0     Normal
85    66   M           ASY        140          139          0     Normal
86    65   M           ASY        170          263          1     Normal
100   65   M           ASY        130          275          0         ST
..   ...  ..           ...        ...          ...        ...        ...
899   61   M           ASY        148          203          0     Normal
905   67   M           NAP        152          212          0        LVH
908   63   M           ASY        140          187          0        LVH
909   63   F           ASY        124          197          0     Normal
914   68   M           ASY        144          193          1     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease     AgeGroup
36      87              Y      1.5     Flat             1  Middle-aged
82     115              N      0.0     Flat             1  Middle-aged
85      94              Y      1.0     Flat             1  Middle-aged
86     112              Y      2.0     Flat             1  Middle-aged
100    115              Y      1.0     Flat             1  Middle-aged
..     ...            ...      ...      ...           ...          ...
899    161              N      0.0       Up             1  Middle-aged
905    150              N      0.8     Flat             1  Middle-aged
908    144              Y      4.0       Up             1  Middle-aged
909    136              Y      0.0     Flat             1  Middle-aged
914    141              N      3.4     Flat             1  Middle-aged

[161 rows x 13 columns]

Average age for each chest pain type:
 ChestPainType
ASY    54.959677
ATA    49.242775
NAP    53.310345
TA     54.826087
Name: Age, dtype: float64

8. Handling Missing Values
a) Check for missing values
b) Fill numeric columns with mean and categorical columns with mode if missing

In [19]:
missing_values = df_heart.isnull().sum()
print("\nMissing values in the DataFrame:\n", missing_values)

Missing values in the DataFrame:
 Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
AgeGroup          0
dtype: int64

9. Concatenating Data
a) Split the DataFrame into male and female
b) Add 'Group' column to each part
c) Concatenate the two DataFrames

In [21]:
df_male = df_heart[df_heart['Sex'] == 'M'].copy()
df_female = df_heart[df_heart['Sex'] == 'F'].copy()
df_male['Group'] = 'Male'
df_female['Group'] = 'Female'
df_combined = pd.concat([df_male, df_female])
print("\nConcatenated DataFrame:\n", df_combined[['Age', 'Sex', 'Group']].head())

Concatenated DataFrame:
    Age Sex Group
0   40   M  Male
2   37   M  Male
4   54   M  Male
5   39   M  Male
7   54   M  Male

10. Applying Functions
a) Create a custom function to calculate BMI
b) Use a lambda function to create 'AgeTimes100'

In [24]:

df_heart['AgeTimes100'] = df_heart['Age'].apply(lambda x: x * 100)
print("\nDataFrame with 'AgeTimes100' column:\n", df_heart[['Age', 'AgeTimes100']].head())

DataFrame with 'AgeTimes100' column:
    Age  AgeTimes100
0   40         4000
1   49         4900
2   37         3700
3   48         4800
4   54         5400